<div id = "mainGrid">
  <div>1</div>
  <div>
    <div>
      <div>Name</div>
      <div>
        <input type="text" name="" id="" [(ngModel)]="Name">
      </div>
    </div>
    <div>
      <div>Phone No</div>
      <input type="text" name=" " id="" [(ngModel)]="phoneNo">
    </div>
    <div>
      <div>Address</div>
      <textarea name="" id="" cols="30" rows="10" [(ngModel)]="Address"></textarea>
    </div>
    <div>
      <div>Colloge Name</div>
      <div><input type="text" name="" id="" [(ngModel)]="clgno"></div>
    </div>
    <div>
      <div>city</div>
      <div><input type="text" name="" id="" [(ngModel)]="city"></div>
    </div>
    <br>
    
    <div>
    <button (click) = "next()">next</button>
      </div>
  </div>
</div>