<div id = "mainGrid">
  <div>
    
  </div>
  <div>
    <div id = "imdiv">
      <img id = "img" src="../../assets/logo.png" alt="">
    </div>
    <div>
      <br>
      <br>
      <br>
      <div>Name</div>
      <div>
        <input type="text" name="" id="" [(ngModel)]="Name">
      </div>
    </div>
    <div>
      <div>Phone No</div>
      <input type="text" name=" " id="" [(ngModel)]="phoneNo">
    </div>
    <div>
  
    <div>
      <div>Colloge Name</div>
      <div><input type="text" name="" id="" [(ngModel)]="clgno"></div>
    </div>
    <div>
      <div>city</div>
      <div><input type="text" name="" id="" [(ngModel)]="city"></div>
    </div>
    <br>
    
    <div id = "next">
    <button (click) = "next()" id = "btn">next</button>
      </div>
  </div>
</div>